body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", sans-serif;
    background: linear-gradient(to bottom, #ffdde1, #ee9ca7);
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    min-height: 100vh;
}

.carousel {
    position: relative;
    width: 350px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="radio"] {
    display: none;
}

.slides {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 500px;
}

.slide {
    position: absolute;
    opacity: 0;
    transition: 0.5s;
    width: 100%;
    text-align: center;
}

.slide img {
    width: 100%;
    max-width: 350px;
    border-radius: 15px;
}

.slide p {
    background: rgba(255, 255, 255, 0.7);
    padding: 10px;
    margin: 0;
    font-weight: bold;
}

/* Exibe o slide correto com base no input selecionado */

#slide1:checked ~ .slides #s1,
#slide2:checked ~ .slides #s2,
#slide3:checked ~ .slides #s3,
#slide4:checked ~ .slides #s4,
#slide5:checked ~ .slides #s5,
#slide6:checked ~ .slides #s6,
#slide7:checked ~ .slides #s7 {
    opacity: 1;
    position: relative;
    z-index: 1;
}


#slide1:checked ~ .slides ~ .nav label[for="slide1"],
#slide2:checked ~ .slides ~ .nav label[for="slide2"],
#slide3:checked ~ .slides ~ .nav label[for="slide3"],
#slide4:checked ~ .slides ~ .nav label[for="slide4"],
#slide5:checked ~ .slides ~ .nav label[for="slide5"],
#slide6:checked ~ .slides ~ .nav label[for="slide6"],
#slide7:checked ~ .slides ~ .nav label[for="slide7"] {
    background: #333;
}

/* Navegação dos botões */

.nav {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
    z-index: 2;
}

.nav label {
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    border: 2px solid #999;
    cursor: pointer;
}

h1 {
    margin: 10px 0 5px;
    color: #b30059;
    font-size: 1.2em;
}

p {
    font-size: 1.1em;
    color: #333;
}